services:
  node:
    image: docker.io/tshelldocker/my-cicd-demo:server-latest
    container_name: node
    ports:
      - "3003:3003"
    restart: unless-stopped

  nginx:
    image: docker.io/tshelldocker/my-cicd-demo:client-latest
    container_name: nginx
    ports:
      - "8003:8003"
    depends_on:
      - node
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro  # ✅ 전체 nginx 설정 덮어쓰기
    restart: unless-stopped
